body {
    font-family: Rajdhani !important;
}

/* colors */
.blue-bg {
    background-color: #155FCD;
}

.grey-bg {
    background-color: #D9D9D9;
}

.black-bg {
    background-color: #1E1C21
}

/* loginpage */
.inputlogin {
    max-width: 70%;
    margin: 1rem auto;
    --bs-btn-hover-border-color: none;
    font-size: x-large;
}

.inputlogin2 {
    max-width: 70%;
    margin: 1rem auto;
    --bs-btn-hover-border-color: none;
    font-size: x-large;
    visibility: inherit;
}

.txt-size-btn {
    font-size: x-large;
    border-color: #D9D9D9;
}

.inputlogin:hover {
    background-color: #D9D9D9;
}

#colunalogin {
    max-width: 25vw;
    margin-left: 5rem;
    min-width: 400px;
    border: white;
    border-radius: 20px;
    background-clip: padding-box;
    border: 5px solid white;
}

#loginandlogo {
    border-radius: 10000px;
    display: table;
    overflow: hidden;
    max-width: 43vw;
}

#positioning {
    width: 250px;
    height: 250px;
    position: relative;
}

#smallcircle {
    background-color: #999999;
    border-radius: 50%;
    position: absolute;
    width: 60%;
    height: 60%;
    right: -30px;
    bottom: 0px;
    z-index: 1;
    display: flex;
}

.textotitulo {
    font-size: 32pt;
}

/* Mainpage */
.logo {
    vertical-align: middle;
    width: 100x;
    height: 100px;
    border-radius: 50%;
}

.btwn-nav-item {
    margin: 0 2vw;
    border-radius: 2000px;
    height: 10vh;
    text-align: center;
}

.link-text {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

.one-line {
    margin-top: 15%;
}

.text {
    font-size: 32px;
    font-weight: 600;
}

.link-text {
    color: #fff !important;
    margin-top: 13px;
}

.itemadd {
    border-radius: 30px;
    padding: 30px 0;
    margin: 10px 0.3rem 10px;
}

.bg-gradiente {
    background: linear-gradient(90deg, #155FCD, #53ccff);
}

@media (max-width: 1400px) {
    .text {
        font-size: 18px;
    }

    .link-text {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .logo {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

@media (max-width: 1366px) {

    /* loginpage */

    .textotitulo {
        font-size: 24pt;
        margin-top: 20px;
    }

    .inputlogin {
        font-size: large;
    }

    .txt-size-btn {
        font-size: large;
    }

    .inputlogin2 {
        font-size: large;
    }

}

@media (max-width: 768px) {
    .one-line {
        margin-top: 0%;
    }

    .btwn-nav-item {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }

    .onviewp {
        display: none;
    }

}

@media (max-width: 768px) {
    #colunalogin {
        margin: 0;
    }

    #loginandlogo {
        margin: 0;
        max-width: 25vw;
    }
}